@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Cup 2018 Results</h1>
    <img src="~/Content/Images/world-cup-graphics.jpg" />
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Groups</h2>
        <p>
            ...
        </p>
    </div>
    <div class="col-md-6">
        <h2>Top Scorers</h2>
        <p>
            ...
        </p>
    </div>
</div>